# Build Stuff
/target

# My Personal Stuff
ref/
.vscode
.worktree
.tmp/sessions
.tmp/tasks
state*.json
shortcut.ahk
TODO.md
*.log

# OS Stuff
.DS_Store
**:Zone.Identifier

graphify-out/cost.json
graphify-out/cache